@font-face {
  font-family: 'PokemonGb-RAeo';
  src: local('PokemonGb-RAeo'), url(./assets/PokemonGb-RAeo.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: 'PokemonGb-RAeo';
  background: rgb(245 245 245);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  margin: 100px;
  justify-content: left;
  margin-left: 165px;
}

.card {
  margin: 8px;
}

.card img {
  width: 245px;
  height: 330px;
  border-radius: 12px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transition: 0.25s;
}

.card img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: 0.25s ease;
}